.container {
  padding: 0px 8px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.heading {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  color: #909090;
}

.text {
  margin: 0;
  font-size: 12px;
  font-family: monospace;
  padding: 0 8px;
}

.fade {
  background-color: #f9f9f9;
  border-radius: 4px;
  color: #484848;
}
