.container {
  width: 100%;
  border: 3px solid;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin: 16px 0;
}

.description {
  margin: 0;
  padding: 0 8px;
  font-size: 14px;
}

.eline {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
}
